<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yin.operators">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yin.operators.ui.OperationCreateActivity"></activity>
        <activity android:name="com.yin.operators.MainActivity">

        </activity>
        <activity android:name="com.yin.operators.OperationIndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yin.operators.ui.OperationTransformationActivity" />
        <activity android:name="com.yin.operators.ui.OperationCombinationActivity" />
        <activity android:name="com.yin.operators.ui.OperationFunctionActivity" />
        <activity android:name="com.yin.operators.ui.OperationFilterActivity" />
        <activity android:name="com.yin.operators.ui.OperationConditionActivity" />
        <activity android:name="com.yin.operators.OperationResultActivity" />
    </application>

</manifest>